<!-- invoices/templates/invoices/customer_detail.html -->
{% extends 'invoices/base.html' %}

{% block content %}
    <h2>Customer Details - {{ customer.name }}</h2>

    <!-- Display customer details -->

    <a href="{% url 'edit_customer' customer.id %}">Edit Customer</a>
    <a href="{% url 'delete_customer' customer.id %}">Delete Customer</a>

    <!-- Display related invoices and their details -->
    <h3>Invoices:</h3>
    <ul>
        {% for invoice in customer.invoice_set.all %}
            <li>
                <a href="{% url 'invoice_detail' customer_id=customer.id invoice_id=invoice.id %}">
                    Invoice {{ invoice.id }}
                </a>
                <a href="{% url 'edit_invoice' customer_id=customer.id invoice_id=invoice.id %}">Edit</a>
                <a href="{% url 'delete_invoice' customer_id=customer.id invoice_id=invoice.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}



<a href="{% url 'invoice_detail' customer.id invoice.id %}">View Details</a>
